{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Join an Open Match</h2>

<ul id="your-matches">
  {% for m in your_matches %}
  <li id="match-{{m.id}}">
    Match #{{m.id}} – <span class="status">
      {% if m.player_two %}Joined{% else %}Waiting…{% endif %}
    </span>
  </li>
  {% endfor %}
</ul>

<ul class="match-list not-battle" id="matches-row">
  {% for m in open_matches %}
<li class="match-item">
  <span>
    Match #{{ m.id }} –
    Host: {{ m.player_one.user.username }}
    {% if m.player_two %}
      vs. {{ m.player_two.user.username }}
      <a href="{% url 'battle_view' m.id %}">Watch as Spectator</a>
    {% else %}
      {% if m.player_one.user == request.user %}
        <a href="{% url 'battle_view' m.id %}">Go to your game</a>
      {% else %}
        <a href="{% url 'battle_view' m.id %}">Join as Player</a>
      {% endif %}
    {% endif %}
    <small>(created {{ m.since }} ago)</small>
  </span>
</li>

    <li class="match-item">
      <p>No open matches. </p>
    </li>
  {% endfor %}
</ul>


<a href="{% url 'start_match' %}">Create match</a> now.



<script>
  const myMatches = Array.from(document.querySelectorAll('#your-matches li'))
    .map(li => +li.id.replace('match-', ''));
  const notified = {};
</script>

<script type="module" src="{% static 'game/js/waiting.js' %}"></script>

{% endblock %}